{% extends ["@ezdesign/layout.html.twig", "@ezdesign/ui/layout.html.twig"] %}

{% block breadcrumbs %}
    {% include ['@ezdesign/parts/breadcrumbs.html.twig', '@ezdesign/ui/breadcrumbs.html.twig'] with { items: [
        { value: 'breadcrumb.admin'|trans(domain='messages')|desc('Admin') },
        { value: 'coderhapsodie.ezdataflow'|trans|desc('EzDataflow') }
    ]} %}
{% endblock %}

{% block page_title %}
    {% include ['@ezdesign/parts/page_title.html.twig', '@ezdesign/ui/page_title.html.twig'] with {
        title: 'coderhapsodie.ezdataflow'|trans|desc('EzDataflow'),
        iconName: 'workflow'
    } %}
{% endblock %}

{% block content %}
    {{ ez_render_component_group('coderhapsodie-ezdataflow', {}, '@ezdesign/ezdataflow/parts/tab/ezdataflow.html.twig') }}

    <div class="modal fade ez-modal show" id="ez-modal--history-details" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog" role="document" style="max-width: 90%">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{ 'coderhapsodie.ezdataflow.workflow.history.title'|trans }}</h3>
                    <button type="button" class="close" aria-label="Close">
                        <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#discard"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal-body" id="modal_content-details"></div>
            </div>
        </div>
    </div>

    <script>

        (function ($) {
            $(document).ready(function ($) {
                $('#ez-modal--history-details').modal({keyboard: false, show: false});
                $('.history-details-aware').delegate('.modal-history-details', 'click', function (e) {
                    e.preventDefault();
                    $('#modal_content-details').html('');
                    $('#ez-modal--history-details h3').html("{{ 'coderhapsodie.ezdataflow.workflow.history.title'|trans }}");
                    if ($(this).hasClass('modal-history-log')) {
                        $('#ez-modal--history-details h3').html("{{ 'coderhapsodie.ezdataflow.workflow.log.title'|trans }}");
                    }
                    $('#ez-modal--history-details').modal('show');
                    $.ajax(this.href, {
                        success: function (result) {
                            $('#modal_content-details').html(result);
                        }
                    });
                });
                $('#ez-modal--history-details .close').click(function () {
                    $('#ez-modal--history-details').modal('hide');
                });
                $(document).ready(function () {
                    if (window.location.hash && window.location.hash === '#oneshot') {
                        $('#ez-tab-list-coderhapsodie-ezdataflow li a').removeClass('active');
                        $('#ez-tab-list-content-coderhapsodie-ezdataflow .tab-pane').removeClass('active');

                        $('#ez-tab-list-coderhapsodie-ezdataflow li a:eq(1)').addClass('active');
                        $('#ez-tab-list-content-coderhapsodie-ezdataflow .tab-pane:eq(1)').addClass('active');
                    }
                    if (window.location.hash && window.location.hash === '#history') {
                        $('#ez-tab-list-coderhapsodie-ezdataflow li a').removeClass('active');
                        $('#ez-tab-list-content-coderhapsodie-ezdataflow .tab-pane').removeClass('active');

                        $('#ez-tab-list-coderhapsodie-ezdataflow li a:eq(2)').addClass('active');
                        $('#ez-tab-list-content-coderhapsodie-ezdataflow .tab-pane:eq(2)').addClass('active');
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}
