{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h2>{{ 'coderhapsodie.ezdataflow.oneshot.title'|trans }}</h2>

<div class="ez-table-header">
    <div class="ez-table-header__headline">{{ 'coderhapsodie.ezdataflow.oneshot.list.title'|trans }}</div>
    <div>
        <button type="button" class="btn btn-primary btn-modal-launcher" data-toggle="modal" data-target="#ez-modal--new-oneshot">
            <svg class="ez-icon ez-icon--medium ez-icon--light ez-icon-create">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
            </svg>
        </button>
    </div>
</div>

{{ include('@ezdesign/ezdataflow/parts/tab/job_list.html.twig', {identifier: 'ezdataflow_oneshot_history', paginate_route: 'coderhapsodie.ezdataflow.oneshot'}) }}

{% if form is defined %}
    <div class="modal fade ez-modal show" id="ez-modal--new-oneshot" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog" role="document">
            {{ include('@ezdesign/ezdataflow/parts/schedule_form.html.twig', {mode: 'oneshot'}) }}
        </div>
    </div>

    <script>
        $('#ez-modal--new-oneshot').on('submit', 'form', function (e) {
            e.preventDefault();
            url = $(this).attr('action');
            data = new FormData(this);
            $.ajax({
                'type': 'POST',
                'url': url,
                'data': data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.redirect) {
                        window.location = result.redirect;
                        return;
                    }

                    let obj = $(result.form).find('.modal-body');
                    $('#ez-modal--new-oneshot .modal-body').html($(obj).html());
                }
            });
        });
    </script>


{% endif %}
