{%- block content -%}
    {% set actions %}
        <button
            type="button"
            class="btn ibexa-btn ibexa-btn--tertiary ibexa-btn--small"
            data-bs-toggle="modal"
            data-bs-target="#modal-new-oneshot"
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
            </svg>
            <span class="ibexa-btn__label">
                {{ 'coderhapsodie.ezdataflow.workflow.new.submit'|trans|desc('Create') }}
            </span>
        </button>
    {% endset %}

    {{ include('@ibexadesign/ezdataflow/parts/tab/job_list.html.twig', {
        identifier: 'ezdataflow_oneshot_history',
        paginate_route: 'coderhapsodie.ezdataflow.oneshot',
        headline: 'coderhapsodie.ezdataflow.oneshot.title'|trans,
        actions: actions,
    }) }}

    {% if form is defined %}
        {{ include('@ibexadesign/ezdataflow/parts/form_modal.html.twig', {
            'id': 'modal-new-oneshot',
            'form': form,
            'mode': 'oneshot'
        }) }}
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#modal-new-oneshot form').addEventListener('submit', function (e) {
                e.preventDefault();
                url = this.getAttribute('action');
                data = new FormData(this);
                fetch(url, {
                    'method': 'post',
                    'body': data,
                })
                    .then((r) => r.json())
                    .then((result) => {
                        if (result.redirect) {
                            window.location = result.redirect;
                            window.location.reload();
                            return;
                        }
                        const node = document.createElement('div');
                        node.innerHTML = result.form;
                        document.querySelector('#modal-new-oneshot .form-fields').innerHTML = node.querySelector('.form-fields').innerHTML;
                    })
                ;
            });
        });
    </script>
{%- endblock -%}
